# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Neon Auth URL - Better Auth format for production
VITE_NEON_AUTH_URL="https://ep-long-star-af5uy9vx.neonauth.c-2.us-west-2.aws.neon.tech/neondb/auth"

# Better Auth Secret (generate with: openssl rand -base64 32)
BETTER_AUTH_SECRET=""
